@import 'base.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
:root{
    --font-primary: 'Montserrat', sans-serif;
}
body{
    margin: 0;
    overflow: hidden;
    background: var(--bg-gradient);
    color: var(--text-color);
    font-family: var(--font-primary);
}